@page "/filmlist"
@using Model
@using Interfaces
@inject IFilmService FilmService

<h1>FilmList</h1>

<p>This page shows a list of all films</p>

@if (films == null) {
    <p><em>Loading...</em></p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Release Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var film in films) {
                <tr>
                    <td>@film.Title</td>
                    <td>@film.Director</td>
                    <td>@film.ReleaseDate</td>
                    <td><a href="/filmdetails/@film.Id"><i>Edit</i></a></td>
                    <td><a href="/filmdelete/@film.Id"><i>Delete</i></a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private IEnumerable<Film> films;

    protected async override Task OnInitializedAsync() {
        try {
            films = await FilmService.GetAllFilms();
        } catch (Exception) {

            throw;
        }
    }

}
